[Desktop Entry]
Icon=application-zip
Name=Breeze-Noir-Dark-Kvantum.zip
Type=Link
URL[$e]=file:$HOME/Downloads/Breeze-Noir-Dark-Kvantum.zip
X-KDE-LastOpenedWith=org.kde.ark
