[Desktop Entry]
Icon=text-html
Name=index.php
Type=Link
URL[$e]=https://docs.kde.org/index.php?branch=stable5&language=en_US&application=konsole&path=index.html
X-KDE-LastOpenedWith=microsoft-edge
